@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Laila&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

$rojo: #D23741;
$naranja: #FF6E00;
$azul: #41326D;

$main-color: #916fae;

$bordeR: 12px;

$pdButton: 7px 25px;